$blackOnWhite: #070606;
$whiteOnBlack: #F8F9F9;
$customBackground1: linear-gradient(to right, #12cd32, #00d4ff);
$customMargin: 1rem;
$htmlColor: #FF3335;
$cssColor: #007DB7;
$javascriptColor: #FA9D29;
$reactColor: #61DCFC;
$sassColor: #CF679A;
$demoColor: #00d4ff;
$githubColor: #F05033;
$linkedinColor: #0078B7;
$inactive: darkgray;